* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li a {
    text-decoration: none;
}

/* Header */
.nav-header a {
    display: flex;
    color: black;
    padding-right: 2rem;
}


/* main */
main {
    background-color: black;
}

main p {
    color: white;
}

.imgMainCard {
    height: 50px;
}

.box {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 20%;
    font-size: small;
}

/* footer */

.bg-top-footer {
    background-image: url("/src/img/footer-bg.jpg");
}

footer ul li a {
    font-size: x-small;
    color: gray;
}

footer ul {
    text-align: left;
    padding-left: 2rem;
}

h2 {
    padding: 1rem;
    text-align: center;
    font-size: medium;
    color: white;
}

.footer-img {
    height: 400px;
    padding-left: 50rem;
}

.logo-footer {
    padding: 1rem;
}

.text-footer {
    font-size: xx-large;
    color: blue;
}

.bg-button-footer {
    background-color: #303030
}

.btn-footer {
    margin: 1rem;
    background-color: #303030;
    color: white;
    border-color: blue;
    height: 40px;
}