* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li a {
    text-decoration: none;
}

/* Header */

header {
    display: flex;
    margin-top: 3rem;
    margin-left: 2rem;
}


header ul {
    padding: 3rem;
    display: flex;
}

ul li {
    list-style-type: none;

}

header li a {
    padding: 2rem;
    color: black;
}

/* main */
main {
    background-color: black;
}

.imgMainCard {
    height: 50px;
}

.box {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 20%;
    font-size: small;
}

/* footer */
footer {
    background-image: url("/src/img/footer-bg.jpg");
    padding: 2rem;

}

footer ul li a {
    font-size: x-small;
    color: gray;
}

footer ul {
    text-align: left;
}

h2 {
    text-align: center;
    font-size: medium;
    color: white;
}

.footer-img {
    height: 400px;
    padding-left: 50rem;
}