* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */

header {
    display: flex;
    margin-top: 3rem;
    margin-left: 2rem;
}


ul {
    padding: 3rem;
    display: flex;
}

ul li {
    list-style-type: none;
    font-weight: bold;
}

ul li a {
    padding: 2rem;
    text-decoration: none;
    color: black;
}

/* main */
main {
    background-color: black;
}

.imgMainCard {
    height: 50px;
}

.box {
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 20%;
    font-size: small;
}

/* footer */
footer ul {
    font-size: x-small;
    column-count: 3;
    column-gap: 20px;
    list-style-position: inside;
    display: flex;
    flex-direction: column;

}

h2 {
    font-size: medium;
}