* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
ul {
    display: flex;
    justify-content: center;
}

ul li {
    list-style-type: none;
    font-weight: bold;
}

ul li a {
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}